.services_container {
  padding: 40px 125px;
  background-color: #f5f5f5;
}
.service_list_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  margin: 1rem 0;
  cursor: pointer;
}

.service_list_container img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}
.service_list_container h2 {
  margin-top: 8px;
  color: var(--text_color1);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 31px;
  width: 95%;
}
.service_list_container p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  width: 95%;
  margin: 8px 0 0;
  color: var(--text_color2);
}
.service_list_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 16px;
}

.service_list_container:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  border-top: 3px solid blue;
  border-right: 3px solid blue;
  border-radius: 5px;
}
span:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -5px;
  left: -5px;
  border-bottom: 3px solid orange;
  border-left: 3px solid orange;
  border-radius: 5px;
}
.service_container_lists {
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
