nav {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 120;
}
.logo_holder img {
  width: 80px;
  height: 80px;
}

.logo_holder button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav_list {
  display: flex;
  gap: 3rem;
  transition: all 1.5s ease-in-out;
}
.nav_list button {
  color: var(--text_color3);
  font-weight: 600;
  font-size: 18px;
  transition: all 1s ease-in-out;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav_list button:hover {
  color: var(--main);
  transform: scale(1.15);
}
.nav_contact_btn,
.nav_contact_btn1 {
  background-color: transparent;
}
.nav_contact_btn a,
.nav_contact_btn1 a {
  color: var(--text_color3);
  transition: all 1s ease-in-out;
  border: 1px solid var(--text_color3);
  padding: 4px 12px;
  border-radius: var(--radius);
}
.nav_contact_btn a:hover,
.nav_contact_btn1 a:hover {
  color: var(--main);
  transition: all 1s ease-in-out;
  border: 1px solid var(--main);
}
.nav_burger_icon img {
  width: 50px;
  height: 50px;
}
.nav_contact_btn1 {
  display: none;
}

.nav_burger_icon {
  display: none;
}
@media (max-width: 650px) {
  .nav_list {
    position: fixed;
    background-color: #333;
    top:98px;
    left: 0;
    flex-direction: column;
    width: 250px;
    padding: 1.3rem;
    animation: animeNav .8s ease-out;
  }
  .nav_contact_btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_contact_btn {
    display: none;
  }
  .nav_burger_icon {
    display: flex;
  }
  .false_1 {
    display: flex;
  }
  .true_1 {
    display: none;
  }
}
@keyframes animeNav {
  from {
    transform: translateX(-300px) scale(1.2) skew(-30deg);
  }
  to {
    transform: translateX(0) scale(1) skew(0);
  }
}
