@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --h1_header: 47px;
  --h2_header: 30px;
  --h3_header: 18px;
  --big_text: 18px;
  --fine_text: 12px;
  --main: #00adee;
  --background: #e5f7fd;
  --text_color1: #333333;
  --text_color2: #6d6e71;
  --text_color3: #ffffff;
  --text_color4: #7d7e82;
  --radius: 25px;
}
* {
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--text_color1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--main), var(--background));
  border-radius: 15px;
}

h1 {
  font-size: 47px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 900;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1090px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 12px;
  }
}
