.offers_container {
  padding: 30px 30px;
}

.offers_holder_list {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.offers_col1,
.offers_col2 {
  border: 2px solid silver;
}
.offers_title,
.offers_title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}
.offers_title img,
.offers_title2 img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.offers_title h2 {
  color: #fdcb35;
  border-bottom: 2px solid #fdcb35;
}
.offers_title2 h2 {
  color: rgb(112, 112, 112);
  border-bottom: 2px solid rgb(112, 112, 112);
  padding-bottom: 8px;
}
.offer_description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.offer_description h3 {
  color: var(--text_color1);
}

.offer_description p {
  color: var(--text_color4);
}
.offer_details1 {
  display: flex;
  justify-content: space-between;
}
.offer_prices_list {
  width: 70%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 920px) {
  .offer_details1 {
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  .offer_prices_list {
    width: 100%;
  }
  .offer_description h3 {
    text-align: center;
  }

  .offer_description p {
    text-align: center;
  }
}
